Options +FollowSymLinks
RewriteEngine on

# Если каталог или файл существует, используйте его напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# в противном случае передать его index.php
RewriteRule ^(.*)$ index.php [NC,L]
